.custom_IuiButton__Uthgs.MuiButton-root{background-color:#EC5D25;padding:8px 12px;min-width:96px;color:#fff;font-weight:500;font-size:14px;line-height:20px;border-radius:6px;text-transform:capitalize}.custom_IuiButton__Uthgs.MuiButton-root:disabled{opacity:50%}.custom_IuiButton__Uthgs.MuiButton-root.custom_primary__6Flf0:hover{background-color:#C2410C}.custom_IuiButton__Uthgs.MuiButton-root.custom_primary__6Flf0:focus-visible{background-color:#EC5D25;box-shadow:0px 1px 0px rgba(17,24,39,0.1),0px 0px 0px 2px #fff,0px 0px 0px 4px #FDBA74}.custom_IuiButton__Uthgs.MuiButton-root.custom_primary__6Flf0:active{background-color:#9A3412}.custom_IuiButton__Uthgs.MuiButton-root.custom_primary__6Flf0:selected{background-color:#7C2D12}.custom_IuiButton__Uthgs.MuiButton-root.custom_secondary__YWDSB{background-color:#fff;color:#EC5D25;border:1px solid #D1D5DB;box-shadow:0px 1px 0px rgba(17,24,39,0.1)}.custom_IuiButton__Uthgs.MuiButton-root.custom_secondary__YWDSB:hover{background-color:#fff;box-shadow:0px 2px 4px rgba(17,24,39,0.15),0px 1px 1px rgba(17,24,39,0.1)}.custom_IuiButton__Uthgs.MuiButton-root.custom_secondary__YWDSB:active{box-shadow:none}.custom_IuiButton__Uthgs.MuiButton-root.custom_secondary__YWDSB:focus-visible{box-shadow:0px 1px 0px rgba(17,24,39,0.1),0px 0px 0px 2px #fff,0px 0px 0px 4px #FDBA74}.custom_IuiButton__Uthgs.MuiButton-root.custom_neutral__pm5Mf{background-color:#fff;color:black;border:1px solid #D1D5DB}.custom_IuiButton__Uthgs.MuiButton-root.custom_neutral__pm5Mf:hover{background-color:#fff;box-shadow:0px 2px 4px rgba(17,24,39,0.15),0px 1px 1px rgba(17,24,39,0.1)}.custom_IuiButton__Uthgs.MuiButton-root.custom_neutral__pm5Mf:active{box-shadow:none}.custom_IuiButton__Uthgs.MuiButton-root.custom_neutral__pm5Mf:focus-visible{box-shadow:0px 1px 0px rgba(17,24,39,0.1),0px 0px 0px 2px #fff,0px 0px 0px 4px #FDBA74}

.storybook-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.storybook-button:hover{
  background-color: darkcyan;
}
.storybook-button--primary {
  color: white;
  background-color: #EC5D25;
}
.storybook-button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}


.style_newclass__\+SsDq{width:500px;color:#000 !important}.style_wideButton__-Lg7Y{width:96px}.style_itltTextfield__zB2oK{background:#FFFFFF;border:1px solid #D1D5DB;border-radius:6px;height:40px;width:320px;padding:0px 12px;font-style:normal;font-weight:400;font-size:16px}.style_itltTextfield__zB2oK:hover{border:1px solid #6B7280}.style_itltTextfield__zB2oK:active,.style_itltTextfield__zB2oK:focus{border:1px solid #6B7280;box-shadow:0px 0px 0px 4px #FFEDD5}


/*# sourceMappingURL=main.4600af66.css.map*/