@import '../assets/tokens'

.newclass
    width: 500px
    color: #000 !important

.IuiButton
    max-width: $generic-width


    &:global(.MuiButton-root)
        background-color: $orange-600
        padding: 8px 12px
        color: #fff
        font-weight: 500
        font-size: 14px
        line-height: 20px
        border-radius: 6px

        &.primary
            &:hover
                background-color: $orange-700
            &:focus
                background-color: $orange-600
                box-shadow: 0px 1px 0px rgba(17, 24, 39, 0.1), 0px 0px 0px 2px #FFFFFF, 0px 0px 0px 4px #FDBA74    
            &:active
                background-color: $orange-800
            &:selected
                background-color: $orange-900
            &:disabled
                background-color: black

        &.secondary
            background-color: transparent
            color: $orange-600
            border: 1px solid #D1D5DB
            &:hover
                background-color: transparent

        &.neutral
            background-color: transparent
            color: black
            border: 1px solid #D1D5DB
            &:hover
                background-color: transparent
